server:
  port: 8080

spring:
  application:
    name: api-gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-public
              uri: http://localhost:8081
              predicates:
                - Path=/auth/register, /auth/login, /auth/refresh-token

            - id: auth-service-protected
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**
              filters:
                - AuthenticationFilter

            - id: workflow-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/workflows/**
              filters:
                - AuthenticationFilter

            - id: trigger-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/triggers/**, /webhook/**
              filters:
                - AuthenticationFilter

            - id: orchestrator-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/v1/executions/**
              filters:
                - AuthenticationFilter

            - id: executor-service
              uri: http://localhost:8085
              predicates:
                - Path=/api/v1/executor/**
              filters:
                - AuthenticationFilter

            - id: log-service
              uri: http://localhost:8086
              predicates:
                - Path=/api/v1/logs/**
              filters:
                - AuthenticationFilter

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"

application:
  security:
    jwt:
      secret-key: ${APPLICATION_SECURITY_JWT_SECRET_KEY:dev-secret-key-please-change-dev-secret-key-please-change}

logging:
  level:
    org.springframework.security: TRACE
    org.springframework.cloud.gateway: TRACE
